
# boolean if you are running local development
NEXT_PUBLIC_AUTH_TEST=

# docker prisma database to run locally
URL_PRISMA=

# Auth.js auth with google provider
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=

# Prisma
POSTGRES_PRISMA_URL=